# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.log
*.tlog
*.exe
*.opensdf
*.obj

#Cmake shit
CMakeFiles/
CMakeCache.txt
*.vcxproj*
cmake_install.cmake
*.sln